/* Weather.css */
.weather-info img.invert {
  filter: invert(100%);
}

.weather-info {
  background: linear-gradient(
    245deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.685) 100%
  );
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.temp {
  font-size: 3.5rem;
  margin-top: -1rem;
  margin-bottom: -3rem;
  margin-left: auto;
  margin-right: -34rem;
}

/* Loading state */
.loading {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
  margin-top: 1rem;
}

.location {
  align-items: left;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 25rem;
}

.location h2 {
  margin-top: -0.2rem;
}

.location img {
  width: 25px;
  height: 35.71px;
  margin-left: auto;
  margin-right: 1em;
}

.weathericon,
.humiditydiv,
.windspeeddiv {
  margin-right: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-transform: capitalize;
  font-size: 1rem;
  color: black;
  font-weight: 800;
  margin-top: 1em;
}

.weatherdesc {
  margin-top: 3em;
  margin-right: -4em;
}

.weathericon img {
  width: 20rem;
  margin-left: 25rem;
  margin-top: -3rem;
}

.text {
  font-size: 0.8em;
  margin-right: -10rem;
}

.humiditydiv,
.windspeeddiv {
  width: fit-content;
  margin-left: 1rem;
  gap: 2rem;
}

.windspeeddiv img,
.humiditydiv img {
  width: 3rem;
}

p,
h2 {
  font-size: xx-large;
  color: black;
  font-weight: 800;
  filter: contrast(300%);
}

/* Adjustments for small screens */
@media (max-width: 600px) {
  body,
  html {
    overflow-x: hidden;
  }
  .location {
    margin-left: -5rem;
  }

  .location h2 {
    margin-top: -0.2rem;
    font-size: 1.5rem;
  }

  .location img {
    width: 25px;
    height: 35.71px;
    margin-left: auto;
    margin-right: 1em;
  }

  .weathericon,
  .humiditydiv,
  .windspeeddiv {
    margin-right: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: capitalize;
    font-size: 1rem;
    color: black;
    font-weight: 800;
    margin-top: 1em;
  }

  .weathericon {
    margin-top: -5rem;
  }
  .weatherdesc {
    margin-top: -12rem;
    font-size: 1.75rem;
    margin-right: auto;
    margin-left: auto;
  }

  .temp {
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: -13rem;
    margin-top: -3rem;
    z-index: 2;
  }
  .weathericon img {
    width: 10rem;
    height: 10rem;
    margin-left: 10rem;
    margin-top: -2rem;
  }

  .text {
    font-size: 0.75rem;
    margin-right: -10rem;
    margin-top: -0.1rem;
  }

  .humiditydiv,
  .windspeeddiv {
    width: fit-content;
    margin-left: 1rem;
    gap: 2rem;
  }

  .windspeeddiv img,
  .humiditydiv img {
    width: 2rem;
    height: 2rem;
  }

  p,
  h2 {
    font-size: xx-large;
    color: black;
    font-weight: 800;
    filter: contrast(300%);
  }
}
